<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="icon" type="image/ico" href="/images/favicon.ico">
  <!-- End Favicon -->

  <meta name="robots" content="">
  <meta name="description" content="">

  <link rel="canonical" href="https://snailtrail.fun/">

  {{ with .Site.Params.facebookPixelId }}
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '{{ . }}');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id={{ . }}&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->
  {{ end }}

  {{ with .Site.Params.googleTagManagerId }}
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '{{ . }}');</script>
  <!-- End Google Tag Manager -->
  {{ end }}

  <!-- Cookie consent  -->
  <!-- Cookies -->
  <link rel="stylesheet" type="text/css"
    href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#504DE2"
          },
          "button": {
            "background": "#FFF"
          }
        },
        "theme": "classic",
        "position": "bottom",
        "content": {
          "dismiss": "{{ .Site.Params.cookie.accept }}",
          "message": '<div class="pr-4"><div class="h-14 w-14 float-left mr-6 stroke-current fill-current text-white">{{ readFile "static/images/cookie.svg" | safeHTML }}</div>{{ .Site.Params.cookie.description }}</div>',
          "link": "{{ .Site.Params.cookie.action }}",
          "href": "http://blacksalt.io/docs/privacy-policy.pdf"
        }
      })
    });
  </script>
  <!-- End Cookie consent  -->

  <!-- Open Graph protocol -->
  <meta property="og:locale" content="hu_HU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:site_name" content="{{ .Title }}">
  <meta property="og:description" content="{{ .Description }}">
  <meta property="og:url" content="https://snailtrail.fun/">
  <meta property="og:image" content="https://eflyr.hu/images/share_page.png">
  <meta property="og:image:secure_url" content="https://eflyr.hu/images/share_page.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <!-- / Open Graph protocol -->

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:description" content="{{ .Description }}">
  <meta name="twitter:image" content="https://eflyr.hu/images/share_page.png">
  <!-- / Twitter -->

  {{/* styles */}}
  {{ $options := dict "inlineImports" true }}
  {{ $styles := resources.Get "css/styles.css" }}
  {{ $styles = $styles | resources.PostCSS $options }}
  {{ if hugo.IsProduction }}
  {{ $styles = $styles | minify | fingerprint | resources.PostProcess }}
  {{ end }}
  <link href="{{ $styles.RelPermalink }}" rel="stylesheet" />

  {{ partial "script" "js/main.js" }}
  {{ partial "script" "js/alpine.min.js" }}

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  {{ with .Site.Params.googleTagManagerId }}
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ . }}" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  {{ end }}
  <!-- End Google Tag Manager (noscript) -->

  {{ partial "header/site-nav.html" . }}

  {{ partial "header/site-header.html" . }}

  {{ partial "body/comment.html" . }}

  {{ partial "body/features.html" . }}

  {{ partial "body/aboutus.html" . }}

  {{ partial "body/testimonials.html" . }}

  {{ partial "body/pricing.html" . }}

  {{ partial "footer/footer.html" . }}

  <!-- <div class="container px-4 lg:mx-auto">
    {{ block "main" . }}{{ end }}
  </div> -->

</body>

</html>