<footer class="bg-gray-50 pt-16 pb-12 sm:pt-20 md:pt-24 xl:pt-32 sm:pb-20">
    <div class="max-w-screen-lg xl:max-w-screen-xl mx-auto divide-y divide-gray-200 px-4 sm:px-6 md:px-8">
        <ul
            class="Footer_nav__2rFid text-sm font-medium pb-14 sm:pb-20 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-y-10">
            <li class="space-y-5 row-span-2">
                <h2 class="text-xs font-semibold tracking-wide text-gray-900 uppercase">{{ .Site.Params.footer.help }}
                </h2>
                <ul class="space-y-4">
                    <li><a class="hover:text-gray-900 transition-colors duration-200"
                            href="mailto:domogpapp@gmail.com">domogpapp@gmail.com</a></li>
                </ul>
            </li>
            <li class="space-y-5">
                <h2 class="text-xs font-semibold tracking-wide text-gray-900 uppercase">
                    {{ .Site.Params.footer.community }}
                </h2>
                <ul class="space-y-4">
                    <li><a class="hover:text-gray-900 transition-colors duration-200"
                            href="https://gitlab.com/domo0013/snail-trail">GitLab</a></li>
                </ul>
            </li>
        </ul>
        <div class="pt-10 sm:pt-12">
            <div class="h-14 w-56 stroke-current fill-current text-gray-800">
                <img class="icon h-12 sm:h-14" src="/images/logo.png"
                                    alt="Snail Trail logo">
            </div>
            <div class="mt-4 text-gray-600 font-bold">
                <p class="block">Made with
                    <svg class="h-6 w-6 -mt-2 inline text-red-400" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                            clip-rule="evenodd" />
                    </svg>
                    by Domonkos Papp in 2021
                </p>
            </div>
        </div>
    </div>
</footer>