<div id="aboutus"
    class="pt-12 px-4 sm:px-6 lg:px-8 lg:pt-20 max-w-screen-md xl:max-w-screen-lg mx-auto space-y-10 sm:space-y-12 md:space-y-20 lg:space-y-2">
    <div class="pt-12 px-4 sm:px-6 lg:px-8 lg:pt-40">
        <div class="text-center">
            <h1 class="text-3xl sm:text-5xl lg:text-6xl leading-none font-extrabold text-gray-900 tracking-tight mb-8 lg:px-20 ">
                {{ .Site.Params.features.feedbacks.title }}
            </h1>
            <br></br>
            <h2 class="text-3xl sm:text-5xl lg:text-6xl leading-none font-extrabold text-gray-900 lg:pt-30 tracking-tight mb-8">
                <div
                    class="cell relative  lg:w-34 py-2 lg:py-50 bg-primary-800 flex flex-col item-center justify-center">

                    <div
                        class="relative text-2xl lg:text-5xl py-2 px-6 lg:py-6 lg:px-1 lg:w-64  lg:mx-auto text-white font-bold leading-tight tracking-tight mb-0 z-20">
                        {{ .Site.Params.features.feedbacks.subtitle }}
                    </div>
                </div>
            </h2>
        </div>
    </div>


        <div class="flex flex-col h-full relative">

            <div class="absolute top-0 left-0 mt-3 ml-4 lg:mt-5 lg:ml-12">
            </div>
            <div class="px-4 sm:px-6 md:px-8 mb-10 sm:mb-16 md:mb-20">

                <div x-show.immediate="testimonialActive === 1">
                    <p ALIGN=justify class="max-w-4xl text-lg sm:text-2xl font-medium sm:leading-10 space-y-6 mb-6">
                        {{ .Site.Params.features.feedbacks.description }}
                    </p>
                </div>

            </div>
        </div>
</div>