<div class="lg:mt-16 pt-24 pb-16 bg-white overflow-hidden lg:pt-32 lg:py-24">
     <!-- 
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <svg class="absolute top-full right-full transform translate-x-1/3 -translate-y-1/4 lg:translate-x-1/2 xl:-translate-y-1/2"
            width="404" height="404" fill="none" viewBox="0 0 404 404">
            <defs>
                <pattern id="svg-pattern-squares-1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="404" height="404" fill="url(#svg-pattern-squares-1)"></rect>
        </svg>

        <div class="relative">
            <blockquote class="mt-8">
                <div class="max-w-3xl mx-auto text-center text-xl leading-8 font-medium text-gray-900">
                    <p>
                        {{ .Site.Params.comment.content }}
                    </p>
                </div>
                <footer class="mt-8">
                    <div class="md:flex md:items-center md:justify-center">
                        <div class="md:flex-shrink-0">
                          {{ $image := resources.Get "/images/albert_papp.png" }}
                            {{ $image := $image.Resize "200x jpg q90 #4F46E5" }}
                            <img class="mx-auto h-10 w-10 rounded-full" src="{{ $image.RelPermalink }}"
                                alt="{{ .Site.Params.comment.author }}"> 
                        </div>
                        <div class="mt-3 text-center md:mt-0 md:ml-4 md:flex md:items-center">
                            <div class="text-base font-medium text-gray-900">{{ .Site.Params.comment.author }}</div>

                            <svg class="hidden md:block mx-1 h-5 w-5 text-primary-400" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path d="M11 0h3L9 20H6l5-20z"></path>
                            </svg>

                            <div class="text-base font-medium text-gray-500">
                                {{ .Site.Params.comment.jobTitle }}
                            </div>
          
                        </div>
                    </div>
                </footer>
            </blockquote>
        </div>

        <svg class="absolute top-full left-full transform -translate-x-1/3 -translate-y-1/4 lg:-translate-x-1/2 xl:-translate-y-1/2"
            width="404" height="404" fill="none" viewBox="0 0 404 404">
            <defs>
                <pattern id="svg-pattern-squares-2" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="404" height="404" fill="url(#svg-pattern-squares-2)"></rect>
        </svg>
    </div>
                       -->
</div>