<div id="pricing" class="bg-white py-12">
 
</div>


<!--JS for toggle-->
<script>
    function toggleEvent(target) {
        var x = document.querySelectorAll('.annual');
        var y = document.querySelectorAll('.month');
        if (target) {
            document.getElementById("toggle").checked = target === "month";
        }
        for (var i = 0; i < x.length; i++) {
            if (document.getElementById("toggle").checked == true) {
                x[i].classList.add('hidden');
                y[i].classList.remove('hidden');
            } else {
                x[i].classList.remove('hidden');
                y[i].classList.add('hidden');
            }
        }
    }
</script>