<div id="testimonials">
 <!--   <div class="pt-12 px-4 sm:px-6 lg:px-8 lg:pt-20">
        <div class="text-center">
            <h1 class="text-3xl sm:text-5xl lg:text-6xl leading-none font-extrabold text-gray-900 tracking-tight mb-8">
                {{ .Site.Params.testimonials.title }}
            </h1>
        </div>
    </div>
    <div class="container my-24 mx-auto flex flex-col lg:flex-row shadow-sm overflow-hidden"
        x-data="{ testimonialActive: 1 }" x-cloak>
        <div class="cell relative w-full py-2 lg:py-24 bg-primary-800 lg:w-1/2 flex flex-col item-center justify-center">

            <div class="absolute top-0 left-0 z-10 grid-indigo w-16 h-16 lg:w-40 lg:h-40 lg:ml-20 lg:mt-24"></div>
            <div
                class="relative text-2xl lg:text-5xl py-2 px-6 lg:py-6 lg:px-1 lg:w-64 lg:mx-auto text-white font-bold leading-tight tracking-tight mb-0 z-20">
                {{ .Site.Params.testimonials.subtitle }}
            </div>

        </div>

        <div class="bg-gray-50 lg:w-1/2">
            <div class="flex flex-col h-full relative">

                <div class="absolute top-0 left-0 mt-3 ml-4 lg:mt-5 lg:ml-12">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="text-primary-100 stroke-current w-56 h-56 lg:w-56 lg:h-56" fill="transparent"
                        viewBox="0 0 48 48">
                        <path
                            d="M6.5 10c-.223 0-.437.034-.65.065.069-.232.14-.468.254-.68.114-.308.292-.575.469-.844.148-.291.409-.488.601-.737.201-.242.475-.403.692-.604.213-.21.492-.315.714-.463.232-.133.434-.28.65-.35.208-.086.39-.16.539-.222.302-.125.474-.197.474-.197L9.758 4.03c0 0-.218.052-.597.144C8.97 4.222 8.737 4.278 8.472 4.345c-.271.05-.56.187-.882.312C7.272 4.799 6.904 4.895 6.562 5.123c-.344.218-.741.4-1.091.692C5.132 6.116 4.723 6.377 4.421 6.76c-.33.358-.656.734-.909 1.162C3.219 8.33 3.02 8.778 2.81 9.221c-.19.443-.343.896-.468 1.336-.237.882-.343 1.72-.384 2.437-.034.718-.014 1.315.028 1.747.015.204.043.402.063.539.017.109.025.168.025.168l.026-.006C2.535 17.474 4.338 19 6.5 19c2.485 0 4.5-2.015 4.5-4.5S8.985 10 6.5 10zM17.5 10c-.223 0-.437.034-.65.065.069-.232.14-.468.254-.68.114-.308.292-.575.469-.844.148-.291.409-.488.601-.737.201-.242.475-.403.692-.604.213-.21.492-.315.714-.463.232-.133.434-.28.65-.35.208-.086.39-.16.539-.222.302-.125.474-.197.474-.197L20.758 4.03c0 0-.218.052-.597.144-.191.048-.424.104-.689.171-.271.05-.56.187-.882.312-.317.143-.686.238-1.028.467-.344.218-.741.4-1.091.692-.339.301-.748.562-1.05.944-.33.358-.656.734-.909 1.162C14.219 8.33 14.02 8.778 13.81 9.221c-.19.443-.343.896-.468 1.336-.237.882-.343 1.72-.384 2.437-.034.718-.014 1.315.028 1.747.015.204.043.402.063.539.017.109.025.168.025.168l.026-.006C13.535 17.474 15.338 19 17.5 19c2.485 0 4.5-2.015 4.5-4.5S19.985 10 17.5 10z" />
                    </svg>
                </div>

                <div class="h-full relative z-10 pt-10 px-8">

                    <div x-show.immediate="testimonialActive === 1">
                        <p class="leading-8 font-medium text-gray-900 italic text-left px-6 py-6 lg:px-16 lg:py-10 text-xl lg:text-2xl"
                            x-show.transition="testimonialActive == 1">
                            {{ .Site.Params.testimonials.kornelia.content }}
                        </p>
                    </div>

                </div>

                <div class="flex my-2 justify-center items-center">
                    {{ $image := resources.Get "/images/user1.jpg" }}
                    {{ $image := $image.Resize "96x jpg q90 #4F46E5" }}
                    <button @click.prevent="testimonialActive = 1"
                        class="text-center font-bold shadow-xs focus:outline-none focus:shadow-outline inline-block rounded-full mx-2"
                        :class="{'h-12 w-12 opacity-25 bg-primary-300 text-gray-600': testimonialActive != 1, 'h-16 w-16 opacity-100 bg-primary-600 text-white': testimonialActive == 1 }"><img
                            class="mx-auto h-16 w-16 rounded-full" src="{{ $image.RelPermalink }}"
                            alt="Kornélia Belákovics"></button>
                </div>

                <div class="flex justify-center px-6 pt-2 pb-6 lg:py-6">
                    <div class="text-center md:ml-4 md:flex md:items-center" x-show="testimonialActive == 1">
                        <div class="text-base font-medium text-gray-900">
                            {{ .Site.Params.testimonials.kornelia.customer }}
                        </div>

                        <svg class="hidden md:block mx-1 h-5 w-5 text-primary-400" fill="currentColor"
                            viewBox="0 0 20 20">
                            <path d="M11 0h3L9 20H6l5-20z"></path>
                        </svg>

                        <div class="text-base font-medium text-gray-500">
                            {{ with .Site.Params.testimonials.kornelia.jobTitle }}{{ . | safeHTML }}{{ end }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    -->
</div>