{{ define "partials/featurelist" }}

{{ $features := . }}
{{ range $features }}
<li class="flex items-start mb-4">
    <div class="flex-shrink-0">
        {{ if eq .icon "caution" }}
        <svg class="h-6 w-6 text-primary-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        {{ else if eq .icon "check" }}
        <svg class="h-6 w-6 text-primary-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        {{ else if eq .icon "additional" }}
        <svg class="h-6 w-6 text-primary-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
        {{ end }}
    </div>
    <div class="flex-col">
        <p class="ml-3 text-base font-medium text-gray-500">
            {{ .title | safeHTML }}
        </p>
        <p class="ml-3 text-xs text-gray-500">
            {{ with .subtitle }}{{ . | safeHTML }}{{ end }}
        </p>
    </div>
</li>
{{ end }}
{{ end }}