<div class="mt-16 max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative border border-gray-200 rounded-lg px-4 py-6 overflow-hidden sm:px-6 sm:py-8 lg:p-12 xl:p-16">
        <h2 class="text-2xl font-semibold font-display text-gray-900 sm:text-3xl">We've got more coming...</h2>
        <p class="mt-2 max-w-2xl text-base text-gray-500">
            Want to hear from us when we add new components? Sign up for our newsletter and we'll email you every time
            we release a new batch of components.
        </p>
        <form x-data="signupForm()" class="mt-6" @submit.prevent="submit($event)"
            action="https://ck-proxy.adamwathan.now.sh/api/subscribers" data-form-id="1074308"
            data-api-key="0maQ6AJcKCKVQnJlq7gL1w" method="POST">
            <div class="sm:flex">
                <input x-model="email" type="email" required="" placeholder="Enter your email"
                    class="block sm:max-w-xs w-full px-4 py-3 text-base appearance-none border border-gray-300 shadow-none bg-white rounded-md placeholder-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300">
                <button
                    class="mt-4 relative sm:mt-0 sm:h-auto sm:ml-4 block w-full sm:w-auto border border-transparent px-6 py-3 text-base font-semibold leading-snug bg-primary-600 hover:bg-primary-700 text-white rounded-md shadow-m focus:outline-none focus:bg-primary-700 transition ease-in-out duration-150"
                    :class="{ 'opacity-50 pointer-events-none': submitting, 'hover:bg-primary-600': !submitting }"
                    :disabled="submitting">
                    <span :class="{ 'opacity-0': submitting }">Subscribe</span>
                    <span style="" x-show="true"
                        class="absolute inset-0 flex items-center justify-center pointer-events-none opacity-0"
                        :class="{ 'opacity-0': !submitting }">
                        <svg class="h-8 w-8 spin" viewBox="0 0 24 24">
                            <path class="text-gray-600" fill="currentColor"
                                d="M12 21a9 9 0 100-18 9 9 0 000 18zm0-2a7 7 0 110-14 7 7 0 010 14z"></path>
                            <path class="text-gray-400" fill="currentColor" d="M12 3a9 9 0 010 18v-2a7 7 0 000-14V3z">
                            </path>
                        </svg>
                    </span>
                </button>
            </div>
            <p x-show="error" x-text="error" style="display: none;"
                class="lg:absolute mt-4 text-white max-w-xl font-medium"></p>
        </form>
        <script>
            function signupForm() {
                return {
                    email: '',
                    submitting: false,
                    error: null,
                    submit(e) {
                        this.submitting = true
                        this.error = null

                        axios
                            .post(e.target.action, {
                                formId: e.target.dataset.formId,
                                apiKey: e.target.dataset.apiKey,
                                email: this.email,
                            })
                            .then(response => {
                                window.location = 'https://tailwindui.com/newsletter/thank-you'
                            })
                            .catch(error => {
                                this.submitting = false
                                this.error = dlv(
                                    {
                                        400: 'It looks like you made a mistake in your email address, please double-check it and try again.',
                                        406: 'Please enter your email address.',
                                        422: 'Please enter your email address.',
                                        429: "We're receiving an unusually high amount of sign ups right now so we are rate limiting them as a precaution, please try again in a minute or two.",
                                    },
                                    error.response.status.toString(),
                                    dlv(error.response, 'data.message', 'Sorry something went wrong, please refresh the page and try again shortly.')
                                )
                            })
                    },
                }
            }
        </script>
        <div
            class="stamp hidden lg:block absolute inset-y-0 lg:left-2/3 xl:left-1/2 right-0 transform rotate-6 scale-125 translate-y-2">
        </div>
    </div>
</div>