<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white overflow-visible">
    <div class="max-w-7xl mx-auto pt-14">
        <div
            class="relative z-10 pb-10 bg-white pt-10 md:pt-16 lg:pt-32 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
            <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
                fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                <polygon points="50,0 100,0 50,100 0,100" />
            </svg>

            <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                <div class="text-center lg:text-left">
                    <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
                        <span class="block xl:inline">{{ .Site.Params.hero.title1 }}</span>
                        <br>
                        <span class="block text-primary-600 xl:inline">{{ .Site.Params.hero.title2 }}</span>
                    </h1>
                    <p
                        class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                        {{ .Site.Params.hero.description }}
                    </p>

                    <div class="mt-5 sm:mt-8 flex justify-center lg:justify-start space-x-2">

                        <a href="https://play.google.com/store/apps/details?id=com.onbased.snailtrail">
                            <img class="icon h-12 sm:h-14" src="/images/app/google_play_badge.svg"
                                alt="{{ .Site.Params.hero.androidAlt }}">
                        </a>
                        <a href="https://apps.apple.com/us/app/snail-trail/id1569357063">
                            <img class="icon h-12 sm:h-14" src="/images/app/appstore_badge.svg"
                                alt="{{ .Site.Params.hero.iOSAlt }}">
                        </a>
                    </div>

                 
                    <div class="mt-5 sm:mt-8 flex justify-center lg:justify-start space-x-2">
                        <a href="/web/index.html"
                            class="button py-2.5 px-4 bg-primary-600 text-white font-semibold text-xl rounded-lg shadow-md hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75">
                           
                            Join Race Now
                        </a>
                    </div>

                    <div>


                    </div>
                </div>
            </main>
        </div>
    </div>
    <div class="cell pt-4 w-full lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 flex flex-wrap justify-center">
        <div class="w-80 relative pt-8 pb-80 mb-96 lg:p-0 lg:mt-28 lg:mb-0">
            <img class="absolute w-full z-20" src="/images/app/iphone.png" alt="iPhone frame">
            <div class="absolute w-full z-10">
                <div class="rounded-xl overflow-hidden m-3.5 max-w-max bg-white mt-20">
                    <video class="animated fadeIn delay-02s" autoplay="autoplay" loop="loop" muted=""
                        playsinline="playsinline" poster="/images/app/screen.jpg" preload="none">
                     
                        <source src="/images/app/video.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>