<div id="navbar" class="fixed bg-white pb-6 w-full z-50">
    <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
        <nav class="flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
            <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                <div class="flex items-center justify-between w-full lg:w-auto">
                    <a href="#">
                        <span class="sr-only">Snail Trail</span>
                        <div class="pb-3 h-16 w-52 fill-current text-gray-800">
                            <img class="icon h-12 sm:h-14" src="/images/logo.png"
                            alt="Snail Trail logo">
                        </div>
                    </a>
                    <div class="-mr-2 flex items-center lg:hidden">
                        <button type="button" data-target="mobile-menu"
                            class="navbar-burger bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                            id="main-menu" aria-haspopup="true">
                            <span class="sr-only">Open main menu</span>
                            <!-- Heroicon name: menu -->
                            <svg class="h-8 w-8 text-primary-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                                    d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="lg:w-full flex items-center">
                <div class="hidden lg:block lg:ml-10 lg:pr-4 lg:space-x-8">
                    <a href="#features" class="font-bold text-xl text-gray-500 hover:text-gray-900">
                        {{ .Site.Params.navigation.features.name }}</a>

                    <a href="#aboutus" class="font-bold text-xl text-gray-500 hover:text-gray-900">
                        {{ .Site.Params.features.feedbacks.title }}</a>

                    <a href="#testimonials" class="font-bold text-xl text-gray-500 hover:text-gray-900">
                        {{ .Site.Params.navigation.testimonials.name }}</a>

                    <a href="#pricing" class="font-bold text-xl text-gray-500 hover:text-gray-900">
                        {{ .Site.Params.navigation.pricing.name }}</a>
                </div>
                <div class="flex-grow">
                </div>
                <!-- Language selector -->
                <div x-data="{ open: false }" class="hidden lg:inline-block relative text-left">
                    <div>
                        <button x-on:click="open = true" type="button"
                            class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                            id="options-menu" aria-haspopup="true" aria-expanded="true">
                            <div class="flex flex-row text-sm">
                                <span class="flag flag-{{ .Lang }} w-6 h-6 mt-1.5 ml-3" alt="{{ .Lang }}"></span>
                                <p class="block pr-4 pl-1 py-2" role="menuitem">
                                    {{ .Site.Language.LanguageName }}</a>
                            </div>
                        </button>
                    </div>

                    <!--
                    Dropdown panel, show/hide based on dropdown state.

                    Entering: "transition ease-out duration-100"
                        From: "transform opacity-0 scale-95"
                        To: "transform opacity-100 scale-100"
                    Leaving: "transition ease-in duration-75"
                        From: "transform opacity-100 scale-100"
                        To: "transform opacity-0 scale-95"
                    -->
                    <!-- Dropdown Body -->
                    <div x-show.transition="open" x-on:click.away="open = false"
                        class="origin-top-right absolute right-0 mt-2 w-32 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
                        <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                            {{ range .Translations }}
                            <div class="flex flex-row text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">
                                <span class="flag flag-{{ .Lang }} w-6 h-6 mt-1.5 ml-3" alt="{{ .Lang }}"></span>
                                <a href="{{ .Permalink }}" class="block pr-4 pl-1 py-2" role="menuitem">
                                    {{ .Language.LanguageName }}</a>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="hidden lg:block lg:ml-4 lg:space-x-8">
                    <a href="https://snailtrail.fun/web"
                        class="button py-2.5 px-4 bg-primary-600 text-white font-semibold text-xl rounded-lg shadow-md hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75">
                        {{ .Site.Params.navigation.login.name }}
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <!--
    Mobile menu, show/hide based on menu open state.
    
    Entering: "duration-150 ease-out"
    From: "opacity-0 scale-95"
    To: "opacity-100 scale-100"
    Leaving: "duration-100 ease-in"
    From: "opacity-100 scale-100"
    To: "opacity-0 scale-95"
    -->
    <div id="mobile-menu" class="absolute top-0 inset-x-0 py-2 transition transform origin-top-right hidden">
        <div class="bg-white shadow-md overflow-hidden">
            <div class="px-4 sm:px-6 pt-4 sm:pt-3 flex items-center justify-between">
                <div>
                    <div class="pb-3 h-16 w-52 fill-current text-gray-800">
                        <img class="icon h-12 sm:h-14" src="/images/logo.png"
                        alt="Snail Trail logo">
                    </div>
                </div>
                <div class="-mr-2">
                    <button type="button" data-target="mobile-menu"
                        class="navbar-burger bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                        <span class="sr-only">Close main menu</span>
                        <!-- Heroicon name: x -->
                        <svg class="h-8 w-8 text-primary-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
            <div role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
                <div class="px-2 pt-4 pb-3 space-y-1 text-center" role="none">
                    <a href="#features"
                        class="block px-3 py-3 rounded-md text-xl font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
                        role="menuitem">
                        {{ .Site.Params.navigation.features.name }}</a>

                    <a href="#aboutus" 
                        class="block px-3 py-3 rounded-md text-xl font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
                        role="menuitem">
                        {{ .Site.Params.features.feedbacks.title }}</a>

                    <a href="#testimonials"
                        class="block px-3 py-3 rounded-md text-xl font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
                        role="menuitem">
                        {{ .Site.Params.navigation.testimonials.name }}</a>

                    <a href="#pricing"
                        class="block px-3 py-3 rounded-md text-xl font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
                        role="menuitem">
                        {{ .Site.Params.navigation.pricing.name }}</a>
                    <!-- Language selector -->
                    <div x-data="{ open: false }" class="inline-block relative text-left">
                        <div>
                            <button x-on:click="open = true" type="button"
                                class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                                id="options-menu" aria-haspopup="true" aria-expanded="true">
                                <div class="flex flex-row">
                                    <span class="flag flag-{{ .Lang }} w-6 h-7 mt-1.5 ml-3" alt="{{ .Lang }}"></span>
                                    <p class="block pr-4 pl-1 py-2 mt-0.5" role="menuitem">
                                        {{ .Site.Language.LanguageName }}</a>
                                </div>
                            </button>
                        </div>

                        <!--
                        Dropdown panel, show/hide based on dropdown state.
    
                        Entering: "transition ease-out duration-100"
                            From: "transform opacity-0 scale-95"
                            To: "transform opacity-100 scale-100"
                        Leaving: "transition ease-in duration-75"
                            From: "transform opacity-100 scale-100"
                            To: "transform opacity-0 scale-95"
                        -->
                        <!-- Dropdown Body -->
                        <div x-show.transition="open" x-on:click.away="open = false"
                            class="origin-top-right absolute right-0 mt-2 w-30 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
                            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                                {{ range .Translations }}
                                <div class="flex flex-row text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">
                                    <span class="flag flag-{{ .Lang }} w-6 h-7 mt-1.5 ml-3" alt="{{ .Lang }}"></span>
                                    <a href="{{ .Permalink }}" class="block pr-4 pl-1 py-2 mt-0.5" role="menuitem">
                                        {{ .Language.LanguageName }}</a>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
                <div role="none">
                    <a href="https://snailtrail.fun/web"
                        class="block w-full px-5 py-5 text-xl text-center font-medium text-primary-600 bg-gray-50 hover:bg-gray-100"
                        role="menuitem">
                        {{ .Site.Params.navigation.login.name }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>